<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
    {% load static %}
    <link rel="stytlesheet" href="{% static 'index.css' %}">

    <style>
      .personal_info{
        margin-left: 20px;
      }
      form{
        border:1px solid #232322;
        border-radius: 15px;
      }
      input{
        border-radius: 5px;
        width:90%;
        font-size: 15px;
        border:1px solid #232322;
      }
      select{
        border-radius: 5px;
        width:90%;
        font-size: 15px;
        border:1px solid #232322;
      }
      table tr td{
        width:50%;
        padding-left: 10px;
      }
      .left_border{
        border-left: 1px solid #232322;
        padding-left: 10px;
      }
    </style>
</head>


<body>
  <div class="row">
    <div class="col-md-12 title">
      <h3>Know Your Customer</h3>
    </div>
  </div>

  <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-5 personel_info">
        <form>
            <center><h5>Personal Information</h5></center>
            <table align="center" width="90%">
                <tr>
                    <td>
                        <p class = "name">Name in Full<br>
                        <input class = "fullname" type = "text" name = "fullname" placeholder = "Full Name" required>
                    </td>
                    <td>
                        <p class = "name">Name with Initials</br>
                        <input class = "nwi" type = "text" name = "nwi" placeholder = "Name with Initials" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "ID_Recognitio">Identity Recognititon
                        <select name="ID_type" id="ID_type">
                            <option value="National ID">National ID</option>
                            <option value="Passport">Passport</option>
                            <option value="Driving License">Driving License</option>
                            <!-- <option value="Senior Citizen ID">Senior Citizen ID</option> -->
                            <option value="Other">Other</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "NIC">NIC</br>
                        <input class = "NIC" type = "text" name = "NIC" placeholder = "NIC" required>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Driving_License">Driving License</br>
                        <input class = "Driving_License" type = "text" name = "driving_license" placeholder = "Driving License" required>
                    </td>
                    <td class="left_border">
                        <p class = "Exp">Expiration Date</br>
                        <input class = "Exp" type = "text" name = "drive_exp" placeholder = "Expire Date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Passport">Passport No.<br>
                        <input class = "Passport" type = "text" name = "passport" placeholder = "Passport" required>
                    </td>
                    <td class="left_border">
                        <p class = "Exp">Expiration Date</br>
                        <input class = "Exp" type = "text" name = "passport_exp" placeholder = "Expire Date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Nationality"> Nationality<br>   
                        <select name="Nationality" id="Nationality">
                            <option value="Sri Lankan">Sri Lankan</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Nationality"> If Other Please Specify<br>
                        <input class = "Nationality" type = "text" name = "Nationality" placeholder = "Nationality" required>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "DOB">Date of Birth <br>
                        <input type="date" id="birthday" name="birthday">
                    </td>
                </tr>
            </table>
        </form>
      </div>
      <div class="col-md-5 contact_info">
        <form>
            <center><h5>Contact Information</h5></center>
            <table align="center" width="90%">
                <tr>
                    <td>
                        <p class = "name">Name in Full<br>
                        <input class = "fullname" type = "text" name = "fullname" placeholder = "Full Name" required>
                    </td>
                    <td>
                        <p class = "name">Name with Initials</br>
                        <input class = "nwi" type = "text" name = "nwi" placeholder = "Name with Initials" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "ID_Recognitio">Identity Recognititon
                        <select name="ID_type" id="ID_type">
                            <option value="National ID">National ID</option>
                            <option value="Passport">Passport</option>
                            <option value="Driving License">Driving License</option>
                            <!-- <option value="Senior Citizen ID">Senior Citizen ID</option> -->
                            <option value="Other">Other</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "NIC">NIC</br>
                        <input class = "NIC" type = "text" name = "NIC" placeholder = "NIC" required>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Driving_License">Driving License</br>
                        <input class = "Driving_License" type = "text" name = "driving_license" placeholder = "Driving License" required>
                    </td>
                    <td>
                        <p class = "Exp">Expiration Date</br>
                        <input class = "Exp" type = "text" name = "drive_exp" placeholder = "Expire Date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Passport">Passport No.<br>
                        <input class = "Passport" type = "text" name = "passport" placeholder = "Passport" required>
                    </td>
                    <td>
                        <p class = "Exp">Expiration Date</br>
                        <input class = "Exp" type = "text" name = "passport_exp" placeholder = "Expire Date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Nationality"> Nationality<br>   
                        <select name="Nationality" id="Nationality">
                            <option value="Sri Lankan">Sri Lankan</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Nationality"> If Other Please Specify<br>
                        <input class = "Nationality" type = "text" name = "Nationality" placeholder = "Nationality" required>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "DOB">Date of Birth <br>
                        <input type="date" id="birthday" name="birthday">
                    </td>
                </tr>
            </table>
      </div>
      <div class="col-md-1">
          
      </div>
    </div>
  


    {% block content %}
          
    {% endblock %}


</body>
</html>
