<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>


<body>
  <div class="row">
    <div class="col-md-12 title">
      <p style="padding-top:10px; padding-left:50px;"><b>Know Your Customer</b></p>
    </div>
  </div>

  <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-5 personel_info">
        <form action="#">
            <center><h5>Personal Information</h5></center>
            <table align="center" width="90%">
                <tr>
                    <td>
                        <p class = "name">Name in Full<br>
                        <input class = "fullname" type = "text" name = "fullname" placeholder = "Full Name" required>
                    </td>
                    <td>
                        <p class = "name">Name with Initials</br>
                        <input class = "nwi" type = "text" name = "nwi" placeholder = "Name with Initials" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "ID_Recognitio">Identity Recognititon
                        <select name="ID_type" id="ID_type">
                            <option value="National ID">National ID</option>
                            <option value="Passport">Passport</option>
                            <option value="Driving License">Driving License</option>
                            <!-- <option value="Senior Citizen ID">Senior Citizen ID</option> -->
                            <option value="Other">Other</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "NIC">NIC</br>
                        <input class = "NIC" type = "text" name = "NIC" placeholder = "NIC" required>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Driving_License">Driving License</br>
                        <input class = "Driving_License" type = "text" name = "driving_license" placeholder = "Driving License" required>
                    </td>
                    <td class="left_border">
                        <p class = "Exp">Expiration Date</br>
                        <input class = "Exp" type = "text" name = "drive_exp" placeholder = "Expire Date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Passport">Passport No.<br>
                        <input class = "Passport" type = "text" name = "passport" placeholder = "Passport" required>
                    </td>
                    <td class="left_border">
                        <p class = "Exp">Expiration Date</br>
                        <input class = "Exp" type = "text" name = "passport_exp" placeholder = "Expire Date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Nationality"> Nationality<br>   
                        <select name="Nationality" id="Nationality">
                            <option value="Sri Lankan">Sri Lankan</option>
                            <option value="Other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "Nationality"> If Other Please Specify<br>
                        <input class = "Nationality" type = "text" name = "Nationality" placeholder = "Nationality" required>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p class = "DOB">Date of Birth <br>
                        <input type="date" id="birthday" name="birthday">
                    </td>
                </tr>
            </table>
        </form>
      </div>
      <div class="col-md-5 contact_info">
        <form action="#">
            <center><h5>Contact Information</h5></center>
            <p style="padding-left: 35px;"><i>Residential Information</i></p>
            <center><table class="contact" width="90%"></center>
            <tr>
              <td>
                <label>House number</label>
              </td>
              <td>
                <input type="text" name="house_number">
              </td>
              <td>
                <label>Street</label>
              </td>
              <td>
                <input type="text" name="street">
              </td>
            </tr>
            <tr>
              <td>
                <label>City</label>
              </td>
              <td>
                <input type="text" name="city">
              </td>
              <td>
                <label>Country</label>
              </td>
              <td>
                <input type="text" name="country">
              </td>
            </tr>
            </table>
            <br>
            <p style="text-align: left; padding-left: 35px;"><i>Contact Information</i></p>
            <table class="contact" width="90%">
              <tr>
                <td>
                  <p>Mobile number<br>
                  <input type="text" name="mobile_number">
                </td>
                <td>
                  <p>Office<br>
                  <input type="text" name="office_number">
                </td>
                <td>
                  <p>Home<br>
                  <input type="text" name="home_number">
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <p>Email Address</p>
                </td>
                <td>
                  <input type="text" name="email">
                </td>
              </tr>
            </table></center>
            <br><br><br><br><br>
            <p style="padding-left: 450px;"><button type="button" class="btn btn-primary">Next</button></p>
          </form>
      </div>
      <div class="col-md-1">
          
      </div>
    </div>
  


    {% block content %}
          
    {% endblock %}


</body>
</html>
